/* Nav-Brand */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Nav-Links */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* Bio-Heading */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1;
}